<!DOCTYPE html>
<html>
<head>
    <title>Football Trivia</title>
      <style>
    body {
      background-color: #007BFF;
      color: white;
      font-family: Arial, sans-serif;
      padding: 20px;
    }
  </style>
</head>
<body>
    <h1>Football Trivia</h1>
    <nav>
        <a href="{% url 'home' %}">Home</a> |
        {% if user.is_authenticated %}
            <a href="{% url 'quiz' %}">Quiz</a> |
            <a href="{% url 'profile' %}">Profile</a> |
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background: none; border: none; color: blue;
                 text-decoration: underline; cursor: pointer;">
                    Logout
                </button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a> |
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}

</body>
</html>